/* Base Application Styles */

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
}


body, h2, h3, h4, h5, h6, .raleway-font {
    font-family: 'Raleway', 'sans-serif' !important;
    background-color: white;
}

a {
  color: #086788 !important;
}

.accent-text1 {
  color: #aa962f !important;
}

.header-text a {
  color: #aa962f !important;
}

.accent-text2 {
  color: rgb(255,82,82);
}

.limelight-font {
  font-family: 'Limelight', cursive !important;
}

.oswald-font {
  font-family: 'Oswald', sans-serif !important;
}

.montserrat-font {
  font-family: 'Montserrat' !important;
  color: black;
}

.font-larger {
  font-size: 154px;
}

.footer-coloring {
    /* background-color: #a2d4ab; */
    background-color: black;
}

.white-font {
  color: white ;
}
