/* Base Application Styles */

/* .index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
} */

/* .index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
} */

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'sans-serif' !important;
}

.footer-coloring {
    background-color: white;
}

.top-margin-30 {
  margin-top: 30px !important;
}

.circle {
    border-radius: 50% !important;
  }
